<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>微信网页版</title>
    <link rel="stylesheet" href="/css/Style.css" type="text/css">
    <link rel="shortcut icon" href="/images/we2.ico" type="image/x-icon" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="../js/jquery.nicescroll.min.js"></script>
    <script src="../js/jquery.cookie.js"></script>
</head>

<body>
    <div class="alert">
        <h1>Alert!</h1>
        <p class="tip"></p>
    </div>
    <div class="login">
        <div class="llogo"><img src="/images/llogo.png"></div>
        <div class="login_box">
            <div class="logo">
                <h1>WeChat</h1> beta 0.2
            </div>
            <div class="input">
                <input type="text" id="name" value="username" name="username">
                <input type="password" id="psw" value="password" name="password">
            </div>
            <label><input type="checkbox" name="rm" id="rm" checked="false">记住密码</label>
            <button class="submit" id="login">LOGIN</button>
        </div>

        <div class="lang">
            <a>微信PC版</a>
            <span class="sep"></span>
            <a>中文</a>
            <span class="sep"></span>
            <a>繁体</a>
            <span class="sep"></span>
            <a>English</a>
        </div>
        <div class="copyright">
            <p>© 1998 - 2017 Tencent Inc. All Rights Reserved</p>
        </div>
    </div>
    <script src="/js/javascript1.js" type="text/javascript"></script>

</body>

</html>